.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
    border: 2px solid #ccc;
    padding: 20px;
    width: 60vmin; 
    display: flex;
    flex-direction: row;
  }
  
  .text-container {
    flex: 1;
  }
  
  .image-container {
    flex: 1;
    text-align: right;
  }

.signup-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #283c4a;
  color: #fff;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  
}

.signup-form label {
  margin-bottom: 8px;
}

.signup-form input,
.signup-form textarea {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.signup-form button {
  background-color: #12ed12;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.signup-form button:hover {
  background-color: #3cb929;
}

.signup-form textarea {
  height: 80px;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #283c4a;
  color: #fff;
}

.login-form form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.login-form label {
  margin-bottom: 8px;
}

.login-form input {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.login-form button {
  background-color: #12ed12;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.login-form button:hover {
  background-color: #3cb929;
}

.login-form .center-text {
  text-align: center;
}

.main-container {
  display: flex;
  width: 100%;
}

.joke-collection {
  flex: 3;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.new-joke-form {
  flex: 1;
  padding: 20px;
  background-color: #eee;
}

.joke-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.joke-form {
  margin: 0; 
  padding: 15px;
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
}

.joke-card .delete-button {
  display: inline-block;
  margin-left: 10px;
  /* position: relative; */
  top: -5px;
}

.delete-button button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.joke-card .edit-button {
  display: inline-block;
  margin-right: 10px;
  /* position: relative; */
  top: -5px;
}

.joke-card .edit-button button {
  background-color: #ffcc00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}